@media (min-aspect-ratio: 1/1) {
  .nav {
    clear: both;
    height: 6.25vh;
    padding-top: 6.25vh;
  }
  h1.heroName {
    font-size: 15vh;
    line-height: 12vh;
    letter-spacing: -.5vh;
  }
  h1.heroName::after {
    font-size: 2vh;
    line-height: 10vh;
    letter-spacing: 1vh;
  }
  .statementContainer {
    margin-bottom: 30vh;
    flex-flow: row;
    align-items: flex-start;
  }
  .statementText {
    text-align: right;
    width: 30vw;
  }
  .personalStatement {
    font-size: 3.5vh;
    line-height: 3.5vh;
  }
  .personalStatementSubtext {
    font-size: 1.5vh;
    line-height: 3vh;
  }
  h1.name {
    font-size: 3vh;
    line-height: 2.5vh;
    padding: 2vh;
  }
  .header {
    height: 10vh;
  }
  .hamburguesa {
    height: 3vh;
    right: 6vw;
    top: 2.5vh;
  }
  ol.pagination {
    left: 5vw;
  }
  li.dot {
    height: 1em;
    width: 1em;
    margin: 1em;
    float: none;
  }
  .workContainer {
    justify-content: flex-end;
  }
  .workContainer:after {
    width: 50vw;
    top: 20vh;
    left: 25vw;
    border-radius: 2vh;
  }
  .workTitle {
    width: 80vw;
    padding: 0;
    font-size: 4vh;
    color: #403f3f;
  }
  .subTitle {
    font-size: 1.2vh;
    color: #898989;
    margin-top: 0;
  }
  .workDescription {
    width: 30vh;
    font-size: 1.5vh;
    line-height: 1.45;
    text-align: right;
    align-self: flex-end;
    padding: 5vh 10vh 5vh 0;
  }
  .workImage {
    width: 45vw;
    height: 35vh;
  }
  .workImage img {
    height: 35vh;
  }
  .scrolled .workImage img {}
}

/* End of  Media */
