body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#animation {
  position: absolute;
  top: -10em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background: #282a2d;
}

.backgroundSlide {
  background: linear-gradient(to right, #fff 50%, #dadada 50%);
  background-size: 200%;
  background-position-x: 0;
  animation: backgroundSlide .15s ease-in 1.15s 1 forwards;
}
.bounce {
  animation:
    bounceBall 1.12s cubic-bezier(.69, .18, .22, .97) 0s 1 forwards,
    growBall .25s cubic-bezier(.54, .71, .51, .95) 1.15s 1 forwards,
    shake 300ms ease-out 1.75s 1 forwards,
    gradientSlide .7s ease-out 2s 1 forwards;
}

/*-- KEYFRAMES --*/

@keyframes bounceBall {
  0% {
    transform: scaleY(3);
  }
  25% {
    top: 50%;
    transform: scaleY(.5);
  }
  50% {
    top: 25%;
    transform: scaleY(1) scaleX(.85);
  }
  100% {
    top: 50%;
  }
}

@keyframes growBall {
  0% {
    top: 50%;
    border-radius: 50%;
  }
  100% {
    top: calc(50% - 8em);
    border-radius: 1em;
    height: 16em;
    width: 16em;
  }
}

@keyframes gradientSlide {
  0% {background-color: #282a2d;}
  30% {background-color: #fd0202;}
  60% {background-color: #56ff00;}
  100% {background-color: #00a8ff;}
}

@keyframes shake {
  45% {
    transform: translateY(-2em);
  }
  66% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}

@@keyframes squareSnapIntoRect {

}

@keyframes backgroundSlide {
  to {
    background-position-x: 100%;
  }
}
