body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.backgroundSlide {
  background: linear-gradient(to right, #fff 50%, #333 50%);
  background-size: 200%;
  background-position-x: 0;
  animation: backgroundSlide .45s ease-in 2.75s 1 forwards;
}

#ball {
  position: absolute;
  top: -10em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #148EB2;
}

.bounce {
    animation:
      bounceBall 1.12s cubic-bezier(.69,.18,.22,.97) 0s 1 forwards,
      growBall .25s cubic-bezier(.54,.71,.51,.95) 1.15s 1 forwards,
      gradientSlide 1.2s linear 1.5s 1 forwards;
}


/*-- KEYFRAMES --*/

@keyframes bounceBall {
  0% {
    transform: scaleY(3);
  }
  25% {
    top: 50%;
    transform: scaleY(.5);
  }
  50% {
    top: 25%;
    transform: scaleY(1) scaleX(.85);
  }
  100% {
    top: 50%;
    transform: scaleY(.85);
  }
}

@keyframes growBall {
  0% {
    top: 50%;
    border-radius: 50%;
  }
  100% {
    top: calc(50% - 8em);
    border-radius: .25em;
    height: 16em;
    width: 16em;
    background: linear-gradient(to bottom,
      #fd0202,
      #ff5a00,
      #fff402,
      #56ff00,
      #00d2ff
      );
    background-size: 360em;
  }
}

@keyframes gradientSlide {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -344em;
  }
}

@keyframes whiteSwipe {

}

@keyframes backgroundSlide {
  to {
    background-position-x: 100%;
  }
}
